* {
  font-family: Arial, sans-serif;
}
p {
  margin: 0;
}
.block-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  padding: 0 0 24px;
}
.btn-sidebar {
  border: none;
  background-color: white;
}
